params {
    help = false
    out_dir = "/vast/scratch/users/zeglinski.k/nabseq_test_data/few_barcodes/results/"
    fastq_dir = "/vast/scratch/users/zeglinski.k/nabseq_test_data/few_barcodes/"
    sample_sheet = "/vast/scratch/users/zeglinski.k/nabseq_test_data/few_barcodes/sample_sheet.csv"
    num_consensus = 999
    igblast_databases = "$projectDir/references/igblast/"
    reference_sequences = "$projectDir/references/reference_sequences/"
    trim_3p = "A{20}N{90}"
    trim_5p = "TTTCTGTTGGTGCTGATATTGCTTT"
    enable_conda = false
    barcode_dirs = false
    medaka_model = "r1041_e82_400bps_sup_v4.3.0"
    trim_to_antibody = true
}

// change these as required!
process {
    withLabel: process_tiny {
        cpus = 1
        memory = '1G'
    }

    withLabel: process_low {
        cpus = 2
        memory = '6G'
    }

     withLabel: process_medium {
        cpus = 4
        memory = '16G'
    }

    withLabel: process_high {
        cpus = 8
        memory = '32G'
    }

}

profiles {
    // the "standard" profile is used implicitely by nextflow
    // if no other profile is given on the CLI
    // ideal for using with EPI2ME?
    standard {
        process.executor = 'local'
        docker {
            enabled = true
            // this ensures container is run as host user and group, but
            //    also adds host user to the within-container group
            runOptions = "--user \$(id -u):\$(id -g) --group-add 100"
        }
    }

    // singularity + slurm profile
    wehi {
        executor {
            name = 'slurm'
            queueSize = 100
            queueStatInterval = '10 sec'
            pollInterval = '10 sec'
            submitRateLimit = '10sec'
        }
        singularity {
            enabled = true
            autoMounts = false
            runOptions = '-B /vast -B /stornext -B /wehisan'
        }
    }

    conda {
        enabled = false // required for 22.08
        cacheDir = ""
        useMamba = true
        docker.enabled = false
    }

// local singularity profile
    singularity {
	process.executor = 'local'
        singularity {
            enabled = true
            autoMounts = false
            runOptions = '-B /vast -B /stornext -B /wehisan'
        }
    }
    
    // local profile for simplified development testing
    local {
        process.executor = 'local'
    }
}

manifest {
    name            = 'kzeglinski/nabseq_nf'
    author          = 'Kathleen Zeglinski'
    homePage        = 'https://github.com/kzeglinski/nabseq_nf/'
    description     = 'An accurate, rapid and cost-effective method for antibody long-read sequencing in hybridoma cell lines and single B cells.'
    mainScript      = 'main.nf'
    nextflowVersion = '>=20.10.0'
    version         = 'v0.3.0'
}
